kind: Service
apiVersion: v1
metadata:
  name: java-app
  namespace: dev
spec:
  selector:
    app: java-app
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30081

